<div class="page-container">
    <app-user-header></app-user-header>
    <app-header></app-header>
  
    <div class="user-profile">
      <div class="user-card">
        <h2>Historial de carteras</h2>
        <!-- Mostramos los datos de StateService -->
        <p><strong>Nombre:</strong> {{ stateService.getName() }}</p>
        <p><strong>Cartera actual:</strong> {{ currentWallet }}</p>
        <p><strong>Carteras añadidas a esta cuenta:</strong> {{ walletHistory }}</p>
      </div>
    </div>
  
    <app-footer></app-footer>
</div>
  