<div class="page-container">
    <app-user-header></app-user-header>
    <app-header></app-header>
  
    <div>
        <app-back-arrow></app-back-arrow>
    </div>
    
    <div class="user-profile">
      <div class="user-card">
        <h2>Historial de carteras</h2>

        <p><strong>Cartera actual:</strong> {{ currentWallet }}</p>
        <strong>Carteras añadidas a esta cuenta:</strong> 
            <div *ngIf="walletHistory.length > 0">
                <ul>
                    <li *ngFor="let wallet of walletHistory">
                        {{ wallet }}
                    </li>
                </ul>
          </div>

      </div>
    </div>
  
    <app-footer></app-footer>
</div>
  