/* footer.component.css */
footer {
    background-color: #f0f0f0; /* Color de fondo del footer */
    padding: 30px; /* Espaciado interno */
    bottom: 0; /* Se coloca en la parte inferior de la pantalla */
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
    display: flex; /* Utilizamos flexbox para centrar los elementos horizontalmente */
    justify-content: center; /* Centramos los elementos horizontalmente */
    align-items: center; /* Centramos los elementos verticalmente */
  }
  
  .social-media a {
    margin: 0 10px; /* Espaciado horizontal entre las imágenes */
  }
  
  .social-media img {
    width: 47px; /* Ajustar el tamaño de las imágenes */
    height: 32px;
  }
  
  .contact-info {
    margin-top: 10px; /* Agregar margen superior para separar del contenido anterior */
  }
  
  .contact-info p {
    font-size: 14px; /* Tamaño de fuente para el texto de derechos reservados */
    margin: 0; /* Eliminar márgenes del párrafo */
  }
  