/* Estilos generales para el contenedor */
.example-container {
    display: grid;
    height: 80vh; /* Altura del contenedor */
  }
  
  /* Estilos para el sidebar replegado */
  .example-sidenav {
    width: 60px; /* Ancho del sidebar cuando est치 replegado */
    height: 85vh;
    transition: width 0.3s; /* Transici칩n suave para cambiar el ancho */
  }
  
  /* Estilos para el contenido principal */
  .example-sidenav-content {
    display: flex;
    align-items: center;
  }
  
  /* Media query para cambiar el ancho del sidebar cuando est치 expandido */
  @media (min-width: 768px) {
    .example-sidenav {
      width: 200px; /* Ancho del sidebar cuando est치 expandido */
    }
  }
