<!DOCTYPE html>
<html lang="es">

<body>

  <app-user-header></app-user-header>

  <app-header></app-header>

  <div class="row">
    <!-- Carrusel de imágenes en formato horizontal -->

    <carousel [isAnimated]="true" [itemsPerSlide]="itemsPerSlide"
    [singleSlideOffset]="singleSlideOffset"
    [interval]="0"
    [startFromIndex]="1">

      <slide *ngFor="let slide of slides">
        <img [src]="slide.image" alt="image slide" style="display: inline-block; width: 100%;">
        
        <div class="carousel-caption">
          <h4>Nombre de producto {{slide.alt}}</h4>
        </div>

      </slide>

    </carousel>
  </div>

  <app-footer></app-footer>
</body>

</html>

