.container-fluid {
  padding: 30px;
  position: relative;
}

.row {
  margin-top: 50px;
  justify-content: flex-end; // Alinea los elementos a la derecha
  margin-right: 75px;
  align-items: center;
  width: 75%;
  margin-left: auto; // Para que el margen izquierdo sea automático y se ajuste a la derecha
  margin-bottom: 50px;
}

.carousel-caption {
  background-color: rgba(128, 128, 128, 0.7); // Fondo grisáceo transparente (puedes ajustar el valor alpha para la transparencia)
  color: #fff; // Color del texto dentro del caption (puedes ajustarlo según tus necesidades)
  position: absolute; // Posición absoluta para que se superponga a la imagen
  bottom: 0; // Lo posiciona en la parte inferior del carousel
  left: 0; // Lo posiciona a la izquierda del carousel
  right: 0; // Lo posiciona a la derecha del carousel
  padding: 10px; // Espacio interno dentro del caption (puedes ajustar el valor según tus necesidades)
  width: 100%; // Ancho del caption (puedes ajustar el porcentaje según tus necesidades)
  margin: 0 auto; // Centra horizontalmente el caption
  text-align: center; // Alinea el contenido del caption al centro
}
