<!-- header.component.html -->
<header class="header-container">
    <div class="header-content">
  
      <!-- Contenedor del logo y los enlaces -->
      <div class="logo-links-container">
        <!-- Apartados para clickear que representan las secciones de una página web de subastas -->
        <div class="header-links">
          <a routerLink="/">Inicio</a>
          <a routerLink="/subastas">Subastas</a>
          <a routerLink="/productos">Productos</a>
          <a routerLink="/mi-cuenta">Mi Cuenta</a>
        </div>
      </div>
  
      <div class="logo">
        <app-logo></app-logo>
      </div>
  
    </div>
  </header>
  